<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/dashboard-main.css">
    <style>
        /* Add responsive CSS here */
        @media screen and (max-width: 400px) {
            .main-header {
                flex-direction: column;
                height: auto;
                padding: 10px;
                text-align: center;
            }
            .main-header .logo {
                margin-bottom: 20px;
            }
            .main-header nav {
                margin-top: 20px;
            }
            .main-header nav a {
                display: block;
                margin: 5px 0;
            }
            .main-header .login-button {
                margin-top: 20px;
                width: 100%;
            }
        }
    </style>
</head>
<body>
    <div class="top-bar">
        <div class="left">
            <a href="mailto:📧jcuenca633@gmail.com">jellyace@gmail.com</a>
            <span>📍Daet Camarines Norte</span>
        </div>
        <div class="right">
            <span>Call us: +63 965 612 1577</span>
        </div>
    </div>
    <header class="main-header">
        <div class="logo">
            <img class="pic1" src="/img/mc.png" alt="Logo">
            <div>
                <h1>JELLY-ACE</h1>
            </div>
        </div>
        <nav>
            <a href="#">Home</a>
            <a href="#about">About Us</a>
            <a href="#">Contact Us</a>
        </nav>
        <a href="/login" id="loginButton" class="login-button">Sign out</a>
    </header>

    <section id="about">
        <div class="about-us">
            <h1>About Us</h1>
        </div>


    </section>




</body>



<div class="footer-bottom-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <div class="copy-right">
                    <p>Developers:</p>
                    <p>Joaquin Cuenca</p>
                    <p>Ihceal Abando</p>
                    <p>Avegail Alipante</p>
                    <hr>
                    <p>2024. All Rights Reserved.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
</html>
